@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>Добро пожаловать на сайт Анастасии Поповой!</h2>
					<p>
						Я C#-разработчик, превращающий идеи в работающий код
					</p>
				
			</header>
			<span class="image featured"><img src="~/img/photo_2025-11-03_05-19-09.jpg" alt="welcome" /></span>
		</article>
	</div>
</div>