<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
				Меня зовут Анастасия, я инженер-программист с высшим техническим образованием и двухлетним опытом коммерческой разработки на C#. В настоящий момент живу в Сербии (Белград) и ищу возможности для профессионального развития в компании, где смогу применить свой опыт и продолжить расти как разработчик.
				За время работы я занималась разработкой микроконтроллеров на платформе .NET. Имею опыт работы с ASP.NET Core, SQL Server, Entity Framework, WPF, REST API, а также знакома с системами контроля версий (Git) и командной разработкой по agile-подходам.
				Я ответственно отношусь к задачам, люблю разбираться в новых технологиях и стремлюсь писать чистый, поддерживаемый код. Также свободно общаюсь на английском, что позволяет эффективно взаимодействовать с международными командами.

			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					Перейти к услугам
				</a>
	
			</footer>
		</section>
	</div>
</div>